<%= form_for @picture, url: log_pictures_path, method: :post do |f| %>
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.file_field :image %>
    </p>
    <p>
        <%= f.submit %>
    </p>
    <%= link_to 'Back', log_path(@picture.log_id) %>
    <% end %>