<h1>Log</h1>
<p>
    <strong>Title:</strong>
    <%= @log.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @log.text %>
</p>

<p>
    <%= link_to 'Edit', edit_log_path(@log) %>
    <%= link_to 'Destroy', 
        log_path(@log), 
        method: :delete, 
        data: { confirm: 'Are you sure?' } %>

</p>

<h2>Pictures</h2>
<%= render @log.pictures %>


    <%= link_to "Add a Picture", new_log_picture_path(:log_id => @log) %>
<%= link_to 'Back to Workout Logs', logs_path %>



