<!DOCTYPE html>
<html>
  <head>
    <title>Workout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body align="center">
    <header class='clearfix'>
  <div class="left-nav" align="center">
    <ul>
      <li><%= link_to "My Workout Logs", controller: 'logs' %></li>
      <li><%= link_to "New Workout Log", new_log_path %></li>
    </ul>
  </div>
</header><div class='content'>
  <%= yield %>
</div>
  </body>
</html>
